/* Global */
body {

  /*font-family: 'Audiowide', cursive;*/
  font-family: Arial, Helvetica, sans-serif;

}
/* End Global*/
/*
  * Start Let's Start Section
*/



.lets-learn {

    background-color: #FFBE55;
    border-bottom-right-radius: 175px;
    position: relative;
    margin-right: 5em;
    height: 42.5em;


  /*background-color: #F69898;*/
  /*border-bottom-left-radius: 640px;*/
  /*position: relative;*/
  /*height: 893px;*/
}
.lets-learn .slogon {
    color: #34425D;
    border: 1px solid #34425D;
    border-radius: 2.5em ;
    padding:0.55em;
    text-align: center;
    width: 18.85em;
    position: absolute;
    top: 30em;
    background-color: #FFF;
    font-weight: bold;
    font-size: 1.2em;
    -webkit-box-shadow: 0.5em 0.5em  2.3em -0.75em  rgba(0,0,0,0.75);
    -moz-box-shadow: 0.5em  0.5em  2.3em  -0.75em  rgba(0,0,0,0.75);
    box-shadow: 10px 10px 46px -15px rgba(0,0,0,0.75);
    right: -1.7em;
    z-index: 9999;


}
.lets-learn .slogon:before {

    content: '';
    width: 0;
    height: 140%;
    position: absolute;
    border: 1px solid black;
    top: -10px;
    left: 334px;



}
.lets-learn .header .search .form-control
{

  border-radius: 1px;
  width: 332px;
  height: 28px;


}

.lets-learn .header .navbar {

    display: flex;
    justify-content: space-around;
    align-items: center;
    /*background-color: #333;*/
    color:#33415D;

}
.lets-learn .header .navbar .title {

  margin: .5rem;
  font-size: 1.5rem;

}

.lets-learn .header .navbar .nav-links ul{

  margin:0;
  padding:0;
  display: flex;
  list-style: none;
}

.lets-learn .header .navbar .nav-links li a {

  text-decoration: none;
  padding: 1rem;
  color:#33415D;
  display: block;
  position: relative;
  font-weight: bold;

}

.lets-learn .header .navbar .nav-links li a:hover {

  transition: .9s;
  color:#FFF;

}

.lets-learn .header .navbar .nav-links li a:after {

  content : '';
  position: absolute;
  left :50%;
  bottom: 0;
  transform: translateX(-50%) scale(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  transition: transform 250ms;

}

.lets-learn .header .nav-links ul li:not(:first-child):before {
    content: " | ";
    position: absolute;
    top: 0.85em;
    font-size: 1em;

}
.fa-search {

    position: absolute;
    bottom: 1.5em;
    top: 1em;
    left: 15.65em;
    color: grey;
    font-size: 1em;
}

.lets-learn .header img {

  width: 2.5em;
}

.lets-learn .data {
  padding-top: 4em;

}
.lets-learn .data .content {
  padding-top: 1em;
}
.lets-learn .content p {
  font-size:1.2em;
    color: #34425D;
}

.lets-learn .data .svg img {
    width: 56.05em;

}


/* End Let's Start Section*/


/* End faculty Section */
.faculty img {
    margin-top: 4em ;
    
    width: 90%;
}
.faculty img:nth-child(1),
.faculty img:nth-child(3){
    float:right;
}

.faculty img:nth-child(2),
.faculty img:nth-child(4){
    float:left;
}

.right{
float: right;
margin-top: 5em;
height: 30vh;
width: 85%;
border-top-left-radius: 175px;
position: relative;
box-shadow: -15px -15px   #FFBE55;
display: flex;


}

.left{
  float: left;  
  margin-top: 5em;
  height: 30vh;
  width: 85%;
  border-top-right-radius: 175px;
  position: relative;
  box-shadow: 15px -15px  #F69898;
 
  }
  .right img{
    height: 30vh;
  width: 100%;
    border-top-left-radius: 175px;
  }

  .left img {
    height: 30vh;

    width: 100%;
    border-top-right-radius: 175px;
  }
  h1{
    position: absolute;
    color: cornsilk;
    top: 40%;
    left: 30%;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2 2 3px  black;
      }
